*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%

+above($tablet)
    body
        position relative
        min-height 600px

::selection
    background black
    color #fff

::-moz-selection
    background black
    color #fff

.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%
