// Responsive
desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap = -1px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$bege = #CC9900

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,400,400italic,700,700italic')
lato($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Lato', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == thin
        font-weight 100
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
