header
    width 100%
    height 130px
    background rgba(#fff, .85)
    border-bottom 2px solid $bege
    +below($tablet)
        height 85px
    .center
        height 100%
        clearfix()
    .header-logo
        display block
        float left
        width 276px
        height 100%
        text-indent -9999px
        background $img('granpietra.png') no-repeat left 45%
        +below($tablet)
            background-size 100% auto
        +tablet()
            width 210px
        +mobile()
            width 180px
    nav#nav-desktop
        position absolute
        right 0
        bottom 38px
        +below($tablet)
            display none
        a
            lato 14
            margin-left 10px
            text-transform uppercase
            text-decoration none
            color #000
            transition color .3s
            &:hover
            &.active
                color $bege
    nav#nav-mobile
        +above($tablet)
            display none !important
        display none
        position absolute
        top 85px
        width 100%
        background rgba($bege, .9)
        padding 12px 0
        text-align center
        z-index 9999
        a
            display block
            color #fff
            lato 14 bold
            text-transform uppercase
            text-decoration none
            padding 6px 0
            &.active
                color $laranja
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        float right
        position relative
        height 55px
        width 24px
        outline 0
        padding 0
        top 15px
        margin-left 10%
        .lines
            display block
            width 100%
            height 3px
            background $bege
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 3px
                border-radius 2px
                background $bege
                transition .3s ease
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)


.main
    padding 40px 0
    +below($tablet)
        padding 5% 0
    &.not-found
        padding 20vh 0
        text-align center
        p
            display inline-block
            color $bege
            lato 14
            text-transform uppercase
            border 2px solid $bege
            padding 14px 18px

footer
    width 100%
    background #E6E6E6
    border-top 2px solid $bege
    padding 25px 0
    +tablet()
        padding 2.5% 0
    +mobile()
        padding 5% 0
    clearfix()
    .center
        height 100%
        clearfix()
    .col
        float left
        height 100%
        margin-right 60px
        &.copyright
            float right
            text-align right
            margin 0
            a
            p
                lato 10
                color #000
                text-decoration none
                transition color .3s
                margin-top 0
                &:last-child
                    margin-bottom 0
            a:last-child
                display block
            a:hover
                color $bege
            +below($tablet)
                clear both
                float left
                width 100%
                text-align center
                margin-top 2.5%
                p
                    br
                        display none
                    a
                        display inline !important
            +mobile()
                margin-top 4%
                p
                    margin-bottom .5em
        nav
            height 100%
            border-left 1px solid $bege
            float left
            padding-left 10px
            margin-right 25px
            a
                display block
                color #000
                transition color .3s
                margin 5px 0
                lato 12
                text-transform uppercase
                text-decoration none
                &:hover
                    color $bege
        .footer-logo
            float left
            width 140px
            height 45px
            background $img('granpietra.png') no-repeat center
            background-size 100% auto
        .footer-informacoes
            float left
            margin-left 16px
            .telefone
                lato 14 bold
                margin 0 0 10px
            .endereco p
                lato 12
                margin 2px 0
        +tablet()
            &:nth-child(2)
                float right
                margin-right 0
        +mobile()
            &:first-child
                display none
            &:nth-child(2)
                margin-right 0
                text-align center
                float none
                .footer-logo
                    display none
                .footer-informacoes
                    float none
                    margin-left 0
                    width 100%

.fancybox-title
    font 400 14px/20px 'Lato', 'Helvetica', 'Arial', sans-serif !important
.fancybox-skin
    border-radius 0 !important
    box-shadow none !important
.fancybox-overlay
    background rgba(#000, .8) !important
