.contato
    clearfix()
    .informacoes-wrapper
        float left
        width 40.81%
        +tablet()
            width 44%
        +mobile()
            width 100%
            margin-bottom 5%
            .informacoes
                padding 4% !important
                margin-bottom 4% !important
        .informacoes
            background #EBE2C8
            padding 18px
            margin-bottom 10px
            .telefones
                lato 16 bold
                margin 0
            a
                display block
                text-decoration none
                lato 14
                color #000
                transition color .3s
                margin 1.5em 0
                &:hover
                    color $bege
            .endereco
                margin 0
                p
                    margin 0
                    lato 14
        .mapa
            width 100%
            iframe
                width 100%
                height 225px
                display block
    #form-contato
        float right
        width 51%
        h2
            lato 24 light
            color $bege
            margin 0 0 .5em
        textarea
            height 210px
        input
        textarea
            display block
            width 100%
            border 1px solid $bege
            color #000
            padding 10px
            lato 14 normal italic
            outline 0
            margin-bottom 3px
            resize none
            &[type='submit']
                border 0
                background $bege
                lato 14 bold
                transition background .3s
                margin 0
                &:hover
                    background lighten($bege, 3)
        #form-contato-response
            display none
            width 100%
            padding 10px
            border 1px solid rgba($bege, .7)
            margin 5px 0
            text-align center
            lato 13 normal italic
            color #000
        +mobile()
            width 100%
            h2
                lato 20 light
