.home
    header
        border-color transparent
    footer
        position absolute
        bottom 0
        left 0
        +below($tablet)
            display none
    .banners
        position fixed
        top 0
        left 0
        width 100%
        height 100%
        z-index -1
        .banner
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-position center
            background-size cover
    .main-home
        clearfix()
        h1
            lato 34 light
            text-transform uppercase
            color #fff
            margin 0
            display inline-block
            float left
            text-shadow 0 1px 3px rgba(#000, .7)
            +mobile()
                float left
                width 100%
                lato 32 light
                text-align center
                br
                    display none
    .home-noticias
        width 48%
        float right
        background rgba(#919191, .8)
        padding 30px 40px
        a
            display block
            color #fff
            lato 16
            text-decoration none
            padding-right 40px
            margin-bottom 40px
            transition color .3s
            position relative
            background $img('seta-noticias.png') no-repeat right center
            &:hover
                color lighten($bege, 5)
            &:after
                content ""
                position absolute
                bottom -20px
                left 0
                width 100%
                height 1px
                background #fff
            &:last-child
                padding-bottom 0
                margin-bottom 0
                border 0
                &:after
                    display none
        +mobile()
            width 100%
            float left
            clear both
            margin-top 5%
            padding 20px
            a
                lato 15
                margin-bottom 30px
                &:after
                    bottom -15px
