.institucional
    clearfix()
    .imagens
        float left
        width 40.81%
        img
            max-width 100%
            height auto
            vertical-align middle
            &:last-child
                margin-top 40px
        +mobile()
            width 100%
            margin-top 3%
            img:last-child
                margin-top 3%
    .texto
        float right
        width 51%
        lato 14
        line-height 1.4
        +mobile()
            float left
            width 100%
        p:first-child
            margin-top 0
        h2
            color $bege
            &.subtitulo
                lato 18 bold
                margin 1.5em 0 -.5em
            &.destaque
                lato 28 light italic
