.noticias
    &.noticias-index
        clearfix()
        font-size 0
    .noticia-thumb
        position relative
        display inline-block
        background #EBE2C8
        min-height 150px
        width 49%
        margin-right 2%
        margin-bottom 2%
        vertical-align top
        transition background .3s
        &:nth-child(2n)
            margin-right 0
        img
            float left
            display block
            width 56.25%
            height auto
        .data
            position absolute
            top 0
            left 0
            background rgba(#fff, .85)
            padding 12px
            text-align center
            span
                display block
                color $bege
                &.dia
                    lato 30
                &.mes
                    lato 20
                &.ano
                    lato 14
        h3
            lato 16 light
            color #000
            margin 0
            padding 20px
            width 43.75%
            float right
            line-height 1.3
        &:hover
            background rgba($bege, .7)
        +below($tablet)
            min-height auto
            img
                width 100%
                display block
                float none
            .data
                padding 5%
                span
                    display inline
                    margin 0 2px
                span.dia
                    lato 16
                span.mes
                    lato 14
                span.ano
                    lato 10
            h3
                width 100%
                lato 14
                padding 5%
        +tablet()
            width 31.6667%
            margin-right 2.5%
            margin-bottom 2.5%
            &:nth-child(2n)
                margin-right 2.5%
            &:nth-child(3n)
                margin-right 0
            h3
                lato 16 light
            .data span
                display block
                margin 0
                &.dia
                    lato 24
                &.mes
                    lato 18
                &.ano
                    lato 14

    &.noticias-show
        clearfix()
        .noticia-texto
            width 59.2%
            float left
            +mobile()
                width 100%
            h1
                lato 28 light
                color #000
                margin 0 0 .5em
            img
                display block
                max-width 100%
                height auto
                margin 0 0 20px
            .texto
                lato 14
                line-height 1.4
                p:first-child
                    margin-top 0
                h2
                    color $bege
                    &.subtitulo
                        lato 18 bold
                        margin 1.5em 0 -.5em
                    &.destaque
                        lato 28 light italic
                a
                    color $bege
                    transition color .3s
                    &:hover
                        color #000
            .voltar
                display inline-block
                lato 14
                color $bege
                transition color .3s
                text-decoration none
                margin-top 1em
                &:hover
                    color #000
        .noticias-recentes
            font-size 0
            width 32.65%
            float right
            clearfix()
            +mobile()
                display none
            h4
                lato 12
                color #000
                margin 0 0 1em
                text-transform uppercase
            .noticia-thumb
                display block
                width 100%
                min-height 100px
                margin-bottom 2%
                margin-right 0
                .data
                    span.dia
                        lato 20
                    span.mes
                        lato 14
                    span.ano
                        lato 10
                img
                    width 31.25%
                h3
                    lato 14 light
                    padding 12px
                    width 68.75%
                +tablet()
                    min-height auto
                    clearfix()
                    .data
                        position relative
                        float left
                        width 64px
                    img
                        display none
                    h3
                        width calc("100% - 64px")
