.obras
.clientes
    clearfix()
    font-size 0
    > .center p
        lato 18 light
        color $bege
        margin-top 0
        +mobile()
            lato 15
    .hidden
        display none
    .obras-thumb
    .clientes-thumb
        display inline-block
        vertical-align top
        width 31.632%
        margin-right 2.448%
        margin-bottom 2.448%
        text-decoration none
        color #000
        &:nth-child(3n)
            margin-right 0
        +mobile()
            width 47.5%
            margin-right 5%
            margin-bottom 5%
            &:nth-child(3n)
                margin-right 5%
            &:nth-child(2n)
                margin-right 0
        .imagem
            width 100%
            border 1px solid $bege
            position relative
            img
                width 100%
                height auto
                display block
            &:after
                content ""
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                opacity 0
                background rgba($bege, .5)
                transition opacity .3s
        span
            display block
            margin-top 8px
            text-align center
            lato 14
            color #000
            transition color .3s
    .obras-thumb
        &:hover
            span
                color $bege
            .imagem:after
                opacity 1
