.produtos
    clearfix()
    .produtos-categorias
        clearfix()
        width 16.326%
        float left
        a
            display block
            background $bege
            color #000
            transition color .3s
            text-decoration none
            padding 8px 10px
            lato 14 bold
            margin-bottom 3px
            &:hover
            &.active
                color #fff
        +tablet()
            width 25%
        +mobile()
            width 100%
            margin-bottom 4.59%
            font-size 0
            a
                display inline-block
                margin-right 3px
                margin-bottom 3px
    .produtos-lista
        clearfix()
        width 79.084%
        float right
        font-size 0
        +tablet()
            width 70.41%
        +mobile()
            width 100%
        a
            display inline-block
            vertical-align top
            width 21.5575%
            margin-right 4.59%
            margin-bottom 4.59%
            text-decoration none
            color #000
            &:nth-child(4n)
                margin-right 0
            .imagem
                width 100%
                border 1px solid $bege
                position relative
                img
                    width 100%
                    height auto
                    display block
                &:after
                    content ""
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    opacity 0
                    background rgba($bege, .5)
                    transition opacity .3s
            span
                display block
                margin-top 8px
                text-align center
                lato 14
                color #000
                transition color .3s
            +below($tablet)
                width 30%
                margin-right 5%
                margin-bottom 5%
                &:nth-child(4n)
                    margin-right 5%
                &:nth-child(3n)
                    margin-right 0
            &:hover
                span
                    color $bege
                .imagem:after
                    opacity 1
